@font-face {
    font-family: 'Poppins';
    src: url(../fonts/Poppins-Regular.ttf);
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins-SemiBold';
    src: url(../fonts/Poppins-SemiBold.ttf);
    font-weight: 200;
    font-style: normal;
}

font-face {
    font-family: 'Poppins-Regular';
    src: url(../fonts/Poppins-Regular.ttf);
    font-weight: 200;
    font-style: normal;
}

font-face {
    font-family: 'Poppins-Medium';
    src: url(../fonts/Poppins-Medium.ttf);
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Inter-bold';
    src: url(../fonts/Inter_18pt-Bold.ttf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Inter-black';
    src: url(../fonts/Inter_24pt-Black.ttf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Inter-medium';
    src: url(../fonts/Inter_18pt-Medium.ttf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Inter-regular';
    src: url(../fonts/Inter_24pt-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}

* {
    box-sizing: border-box;
}


body {
    font-family: 'Poppins', 'Poppins-SemiBold','Poppins-Medium', 'Poppins-Regular', 'Inter-black', 'Inter-medium', 'Inter-bold', 'Inter-regular', Arial, Helvetica, sans-serif;
    background: #fbfbfb;
    width: 1440px;
    margin: auto;
    font-style: normal;
    border: 1px solid #eee;
}

.top-header {
    background-color: #000;
    position: relative;
    text-align: right;
    width: 1440px;
    height: 48px;
}

.main-header {
    width: 1440px;

}

.container-top-header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 138px;
    color: white;
}

.top-text.shop {
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    cursor: pointer;
    width: 100%;
}

.shop a {
    color: white;
}

.shop a:hover {
    color: #e93a3a;
    text-decoration: underline;
}


.lang {
    align-items: end;
    background: black;
    color: white;
    border: none;
    text-align: center;
}

.header {
    padding: 15px 0;
    background: #000000;
}

.container.header-content {
    border-bottom: 1px solid #999;
    height: 94px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.actions {
    position: relative;
    width: 347px;
    height: 38px;
    margin-top: 40px;
    margin-right: 135px;
    margin-left: 148px;
    margin-bottom: 16px;
}

.search-box input {
    box-sizing: border-box;
}

input[type="search-box"] {
    width: 243px;
    height: 38px;
    padding: 7px 12px 7px 20px;
    border: none;
    background-color: #f5f5f5;
    border-radius: 1px;

}

.search-box txt {
    font-size: 12px;
    line-height: 18px;
}

.search-icon {
    position: absolute;
    left: 60%;
    top: 60%;
    transform: translateY(-90%);
    width: 18px;
    height: 18px;
    stroke: #9e7f7f;
    fill: none;
    stroke-width: 1;

}


.actions img {
    width: 20px;
    height: 20px;

}

.main-header {
    width: 1440px;
}

.menu {
    width: 367px;
    height: 34px;
    line-height: 24px;
    font-size: 16px;
    display: block;
    color: #000;
    margin-left: 190px;
}

.menu a {
    margin: 0 15px;
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    transition: 0.3s;
}

.menu a:hover {
    color: #000000;
    text-decoration: underline;
}


.header-right {
    display: flex;


}


.main {
    display: flex;

}

.logo {
    margin-left: 135px;

}

.sidebar {
    border-right: 1px solid #999;
    height: 384px;
    font-size: 16px;
    line-height: 24px;
    margin-left: 95px;

}

.sidebar ul {
    font-family: 'Poppins-Medium';
    font-size: 16px;
    line-height: 24px;
    width: 217px;
    height: 344px;
    margin-top: 40px;
    margin-right: 16px;
    list-style: none;
    cursor: pointer;

}

.sidebar li {
    margin-bottom: 16px;

}

.sidebar li:hover {
    color: #e93a3a;
}

.banner {
    position: relative;
    justify-content: space-between;
    display: flex;
    background-color: #000;
    color: white;
    width: 892px;
    height: 344px;
    margin-left: 30px;
    margin-top: 40px;
    padding: px;
    align-items: center;

}

.banner-text {
    width: 396px;
    margin-left: 128px;
}

.banner img {
    width: 100%;
    margin: auto;
    display: flex;
    text-align: left;
    overflow: hidden;
}

.banner-text h1 {
    width: 294px;
    height: 120px;
    margin: 10px 0;

}

.banner a {
    color: white;
    display: block;
    text-align: left;
    text-decoration: none;
}

.banner-text p {
    color: white;
    font-size: 16px;
    line-height: 24px;
}

.banner a:hover {
    text-decoration: underline;

}

.banner button {
    padding: 10px 20px;
    background: transparent;
    border: 1px solid white;
    color: white;
    cursor: pointer;
    display: flex;

}

.carusel-dots {

    width: 110px;
    height: 14px;
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 11px;
}

.carusel-dots span {
    display: inline-block;
    background: #aaa;
    border-radius: 100%;
    width: 12px;
    height: 12px;
}

.carusel-dots span:hover {
    background-color: #db4444;
    transform: scale(1.5);
    border: 0.1px solid white;
}

.carusel-dots active {
    background-color: #e11d48;
}

.flash {
    display: inline-block;
    margin-top: 140px;
    border-bottom: 1px solid #999;
    width: 1170px;
    margin-left: 135px;
    margin-right: 135px;
    margin-bottom: 80px;
}

.flash h2 {
    font-size: 36px;
    line-height: 48px;
}

.products {
    width: 270px;
    height: 350px;
    margin-bottom: 90px;
    display: flex;
    text-align: center;
}

.card {
   
    margin-right: 30px;
    font-size: 16px;
    line-height: 24px;
    text-align: left;

}

.card h4 {
    font-size: 16px;
    line-height: 24px;
    text-align: justify;
    color: #db4444;
}

.card0 {
    width: 150px;
    height: 100%;
    overflow: hidden;
    text-align: justify;
}

.card img {
    width: 270px;
    height: 250px;
    border: 1px solid #eee;
    padding: 40px 35px;
    object-fit: contain;
    background-color: #f5f5f5;
    transition: 0.3s;
}

.card img:hover {
    transform: scale(1.1);
}
.price{
    font-size: 16px;
    line-height: 24px;
}
.actual{
    margin-right: 20px;
    color: #db4444;
}
.old-price{
    color: #999;
    text-decoration: line-through;
}
.button {
    width: 234px;
    height: 56px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    justify-content: center;
    border-radius: 7px;
    padding: 10px;
    margin-top: 60px;
    margin-bottom: 90px;
    background-color: #db4444;
    color: white;
    transition: 0.3s;
}

.stars{
    display: flex;
    margin-top: 450px;
    align-items: center;
    justify-content: center;
}
.stars img{
    align-items: center;
    justify-content: center;
    width: 10px;
    height: 20px;
}
.button:hover {
    transform: scale(1.1);
}

.categories {
    display: inline-block;
    border-bottom: 1px solid #999;
    width: 1170px;
    margin-left: 135px;
    margin-right: 135px;
}

.category {
    width: 1170px;
    height: 313px;
    display: flex;
    gap: 20px;
    text-align: center;

}

.icon {
    border-radius: 10px;
    margin-top: 60px;
    margin-bottom: 70px;
    width: 170px;
    height: 145px;
    padding: 20px;
    font-size: 16px;
    gap: 30px;
    text-align: center;
    border: 1px solid #eee;
}

.icon:not(:last-child) {
    margin-right: 30px;
}

.icon img {
    padding: auto;
    width: 56px;
    height: 56px;
    position: center;
}

.icon:hover {
    background-color: #db4444;
    color: white;
    transition: 0.3s;
}

.button2 {
    background-color: #db4444;
    width: 159px;
    height: 56px;
    margin-left: auto;
    display: flex;
    align-items: end;
    justify-content: center;
    border-radius: 7px;
    padding: 16px 48px 16px 48px;
    margin-bottom: 60px;
    color: white;
    transition: 0.3s;
}

.sale h2 {
    margin-top: 60px;
    font-size: 36px;
    line-height: 48px;

}

.button2:hover {
    transform: scale(1.1);
}

.sale {
    display: inline-block;
    width: 1170px;
    height: 518px;
    margin-top: 70px;
    margin-bottom: 150px;
    margin-left: 135px;
    margin-right: 135px;
}

.sale p {
    width: 125px;
    height: 40px;
}

.clothes {
    display: flex;
    text-align: center;
}

.clothes p {
    text-decoration: line-through;
}

.things {
    font-size: 'Poppins-medium';
    width: 270px;
    height: 250px;
    text-align: left;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
}

.things:not(:last-child) {
    margin-right: 30px;
}

.things img {
    position: relative;
    height: 250px;
    width: 270px;
    border: 1px solid #eee;
    padding: 40px 35px 40px 35px;
    object-fit: contain;
    background-color: rgb(236, 236, 236);
    width: 100%;
    transition: 0.3s;
}

.things img:hover {
    transform: scale(1.1);
}

.banner-column {
    background-color: #000;
    margin: 40px 0 40px 40px;
    height: 500px;
    width: 1170px;
    margin-left: 135px;
    margin-top: 140px;
    margin-bottom: 110px;
}

.column {
    color: white;
    display: flex;
    justify-content: left;
    gap: 30px;
}


.column img {
    padding-left: 542px;
    display: inline-block;
    margin-right: 10px;
    text-align: left;
    margin-left: 10px;
    justify-content: right;

}

.button3 {
    width: 171px;
    height: 56px;
    background-color: #00ff66;
    margin-left: 56px;
    margin-bottom: 49px;
    transition: 0.3s;
}

.button3:hover {
    transform: scale(1.1);
}

.explore {
    margin-left: 135px;
    width: 1170px;
    height: 1016px;
}

.explore-product {
    width: 1440px;
    display: flex;
    margin-top: 60px;
    flex-wrap: wrap;

}

.cards {
    width: 270px;
    height: 322px;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
    gap: 16px;
    margin: 60px 0 0 0;
}

.cards:not(last-child) {
    margin-right: 30px;

}

.cards img {
    position: relative;
    height: 270px;
    width: 250px;
    border: 1px solid #eee;
    padding: 40px 35px 40px 35px;
    object-fit: contain;
    background-color: rgb(236, 236, 236);
    width: 100%;
    transition: 0.3s;
}

.cards img:hover {
    transform: scale(1.1);
}

.button4 {
    width: 234px;
    height: 56px;
    margin: 116px 603px 0 468px;
    border-radius: 7px;
    padding: 10px;
    background-color: #db4444;
    color: white;
    transition: 0.3s;
}

.button4:hover {
    transform: scale(1.1);
}

.featured {
    margin: 190px 135px 140px 135px;
    width: 1170px;
    height: 768px;
}

.featured h2 {
    margin-top: 40px;
    font-size: 36px;
    line-height: 48px;
    margin-bottom: 60px;
}

.grid {
    width: 1440px;
    display: flex;
}

.cardss {
    background-color: black;
    margin-right: 30px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    color: white;
}

.cardss img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}


.cardss::after {
    content: "";
    position: absolute;
    inset: 0;
  
}

.content {
    position: absolute;
    bottom: 20px;
    left: 20px;
    z-index: 2;
}

.content h3 {
    font-size: 24px;
    margin: 0 0 10px;
}

.content p {
    font-size: 14px;
    margin-bottom: 10px;
}

.content a {
    color: white;
    text-decoration: underline;
}

.big {
    width: 100%;
    height: 600px;
    width: 570px;

}

.right {
    width: 50%;
    display: flex;
    flex-direction: column;

}

.wide {
    height: 284px;
    width: 570px;
}

.bottomss {
    display: flex;
}

.bottomss .cardss {
    width: 270px;
    height: 284px;
    margin-top: 32px;
}


.delivery {
    display: flex;
    width: 943px;
    height: 161px;
    margin: 140px 248px 140px 249px;
}

.icons {
    display: inline-block;
    justify-content: center;
    text-align: center;
}

.icons:not(:last-child) {
    margin-right: 88px;
}

.icons h1 {
    font-size: 20px;
    line-height: 28px;
}

.icons p {
    font-size: 14px;
    line-height: 21px;
}

.icons img {
    width: 80px;
    height: 80px;
    align-items: center;
}

.footer {
    font-family: 'Regular';
    background-color: #000;
    color: #fbfbfb;
    width: 1440px;
    height: 440px;

}

.footer-container {
    margin: 0 135px 0 135px;
    padding: 80px 0px 124px 0px;
    width: 1170px;
    height: 236px;
    margin-right: 87px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-col {
    padding: 24px;
    max-width: 200px;
}

.footer-col h3 {
    margin-bottom: 15px;
    font-size: 18px;
}

.footer-col p {
    font-size: 14px;
    margin: 6px 0;
    color: #ccc
}

.footer-col ul {
    list-style: none;
    padding: 0;
}

.footer-col ul li {
    margin: 6px 0;
}

.footer-col ul li a {
    color: #ccc;
    text-decoration: none;
    font-size: 14x;
}

.footer-col ul li a:hover {
    color: #fff;
}

.subscribe {
    display: flex;
    margin-top: 10px;
}

.subscribe input {
    padding: 8px;
    border: none;
    outline: none;
    width: 140px;
}

.subscribe button {
    background: #e74c3c;
    border: none;
    color: #fff;
    padding: 8px 12px;
    cursor: pointer;
}

.app-links {

    display: flex;
    align-items: center;
    gap: 12px;
    margin-top: 10px;
}

.app-links .stores img {
    width: 120px;
    height: auto;
}

.app-links .qr {
    width: 80px;
    height: 80px;
    object-fit: cover;
}

.app-links .stores {

    display: flex;
    flex-direction: column;
    gap: 8px;
}



.socials {
    margin-top: 24px;

    width: 168px;
    height: 24px;
    color: #fff;
    text-decoration: none;
    font-size: 16px;

}

.socials img {
    width: 24px;
    height: 24px;
}

.socials img:hover {
    transform: scale(1.1);
}